<ion-view view-title="BloodBank">
  <ion-content class="padding">
    <div class="card imondround" align="center">
      <h2 class="imondwhite">Welcome to BloodBank</h2>
      <p>
      This is a platform for blood donors.
      </p>
      <p>
        To interact with KNBTS. This app is an initiative where lifes are saved
      </p>
      <p>
      Through this platform, you will be updated on the whereabouts of drives for donations
      </p>
      <p>

      </p>
    </div>
  </ion-content>
  <footer>@Happy to help</footer>
</ion-view>
