<ion-view title="Bulletin">

  <ion-content class="">
    <form class="loginForm" ng-submit="login" method="post">
   <div class="form-group">
     <label class="item item-input">
       <input type="text" placeholder="Venue" ng-model="todo.actitivityId">
     </label>
   </div>

   <div class="form-group">
     <label class="item item-input">
       <input type="text" placeholder="Venue" ng-model="todo.inviteBy">
     </label>
   </div>

   <div class="form-group">
     <label class="item item-input">
       <input type="text" placeholder="Venue" ng-model="todo.completionDate">
     </label>
   </div>

   <div class="form-group">
     <label class="item item-input">
       <input type="text" placeholder="Venue" ng-model="todo.endDate">
     </label>
   </div>

   <div class="form-group">
     <label class="item item-input">
       <input type="text" placeholder="Venue" ng-model="todo.status">
     </label>
   </div>

   <div class="form-group">
     <label class="item item-input">
       <input type="text" placeholder="Venue" ng-model="todo.userId">
     </label>
   </div>

   <div class="padding">
     <button class="button special button-full" ng-click="insert()">Todo Entry</button>
   </div>
  </form>

<!--</div>-->

  </ion-content>

</ion-view>
