/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #BA0015;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.larger {
    font-size: 96px;
}

.imondwhite {
  color: #fff;
}

.imondred {
  color: #fff;
}

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}

.imondopac {
  background-color: rgba(15,46,74, 0.8)
}

.dark-overlay {
  background-color: #222 !important;
  opacity: 0.8;
}
.dark-item {
  background-color: transparent !important;
  color: #fff !important;
  border-color: #444 !important;
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
